<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.rcp.example.module.a">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="com.rcp.example.module.a"
            class="com.rcp.example.module.a.views.SampleView"
            id="com.rcp.example.module.a.views.SampleView">
      </view>
   </extension>

</plugin>
